header {
    height: 10vh;
}
nav {
    background: #4EE6E0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

nav button {
    margin: 0 1em 0 0;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    font-family: 'Alfa Slab One', cursive;
    transition: 1s;
}

nav button:hover {
    background-color: #04615E;
    border-radius: 15px;
    cursor: pointer;
}

#nav-logo {
    position: absolute;
    left: 0;
    margin: 1em 0 0 1em;
    width: 200px;

}

#intro {
    background: linear-gradient(#4EE6E0, #F25D27 );
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: flex-end;
    text-align: start;
}

/* .intro-header {
    color: white;
    font-size: 10px;
} */

.intro-header {
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    width: 50%;
    margin-top: 2em;
    text-shadow: 5px 5px rgba(126, 126, 126, 0.221);
}

strong {
    font-size: 180px;

}

#intro-image {
    width: 600px;
    position: relative;
}

#new {
    margin-top: 1em;
    text-align: center;
    position: absolute;
    display: block;
    color: white;
    font-size: 55px;
    width: 100%;
    font-family: 'Alfa Slab One', cursive;
}

#flavours {
    background: #F25D27;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    text-align: start;
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 3.5em;
    font-family: 'Alfa Slab One', cursive;
    background-color: #276B73;
    border-radius: 5px 20px 50px 5px;
    color: #FFFFFF;
    margin-right: 3em;
    padding: 1em;
    font-size: 40px;
    max-height: 40%;
    text-align: center;
}
.content button { 
    width: 100%;
    position: relative;
    margin-top: 8em;
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 32px;
    transition: 1s;
    font-family: 'Alfa Slab One', cursive;
}

.content button:hover {
    background-color: #F25D27;
    border-radius: 15px;
    cursor: pointer;
}

#footer-background {
    height: 300px;
    background-image: url(/media/footer2.png);
    background-repeat: repeat;
}
footer {
    display: flex;
    justify-content: center;
}

footer img {
    margin-top: 2em;
    height: 250px;
    width: 400px;
}